/* Global style */ 

body {
    background-color: #8FC1E3; 
    font-family: "Raleway", sans-serif;
    color: #F7F9FB; 
    text-align: center;
}

.heading {
    color: #31708E;
}

.navbar {
    font-size: x-large;
    letter-spacing: 4px;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: #F7F9FB; 
    border: none;
    color: white;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}


/* Buttons */ 
.start-btn {
    position: absolute;
    top: 40%; 
    right: 50%; 
    transform: translate(-50%, -50%)
}

.how-to-btn {
    position: absolute;
    top: 40%; 
    left: 60%; 
    transform: translate(-50%, -50%)
}

/* Styling for buttons*/ 
.start-btn button {
    font-size: 25px;
    font-weight: 500;
    color: #31708E;
    padding: 25px 40px; 
    outline: none; 
    border: none; 
    border-radius: 5px;
    background: #F7F9FB; 
    cursor: pointer;
}

.how-to-btn button {
    font-size: 25px;
    font-weight: 500;
    color: #31708E;
    padding: 25px 40px; 
    outline: none; 
    border: none; 
    border-radius: 5px;
    background: #F7F9FB; 
    cursor: pointer;
}
